body {
  background-color: #4db6ac;
  font-family: "Open Sans Condensed", sans-serif;
}

.iconBack {
  background: #e0e0e0;
  box-shadow: 4px 4px 5px rgba(221, 216, 216, 0.6);
  width: 100px;
  border-radius: 50px;
}

.moreinfobox {
  box-shadow: 4px 4px 5px rgba(221, 216, 216, 0.6);
  box-sizing: border-box;
}

.FC {
  width: 75px;
}

.container {
  margin-top: 3%;
  width: 95%;
  max-width: 800px;
  border-style: dashed;
  border-color: #00695c;
  border-width: medium;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px rgba(221, 216, 216, 0.6);
}

.modalBox {
  border-style: dashed;
  border-color: #00695c;
  border-width: medium;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px rgba(221, 216, 216, 0.6);
}

/* .sign {
  border-style: none;
  background-color: #4db6ac;
  border: 0px;
  box-shadow: 0px 0px 0px rgba(221, 216, 216, 0.6);
}

.signtext {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  color: white;
}

.row {
  border: 10px black;
} */

/* .form-group {
  margin-bottom: 5px;
} */

/* #activeCity {
  padding: 20px 10px 10px 5px;
} */

.iconoBig {
  text-align: center;
  padding-right: 15px;
  position: relative;
  box-sizing: border-box;
  display: block;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 18px;
}
.temp,
.temps {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  text-align: center;
}

.temps {
  font-weight: bold;
}

#weekdays {
  padding: 10px;
  padding-top: 30px;
}

.fa-cloud-sun {
  color: #bdbdbd;
}

.days {
  text-align: center;
}

/* Weather icons */
/* .fa-cloud-sun {
  color: #bdbdbd;
  display: block;
}
*/
.fa-sun {
  color: #ffd571;
  display: block;
  margin: 1px;
  position: relative;
  right: 0px;
  top: -10px;
  padding: 0px;
}

/* Buttons */

.search {
  background-color: rgba(0, 105, 92, 1);
  border-right: 0px;
  border-color: rgba(0, 105, 92, 1);
  color: #ffffff;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(136, 136, 136, 0.4);
  width: auto;
}

.unitbtn {
  width: 50%;
  background-color: #ffffff;
  border-width: thin;
  border-color: #4db6ac;
  color: black;
  box-shadow: 2px 2px 4px rgba(136, 136, 136, 0.4);
  opacity: 0.64;
}

/* .unitbtn:hover,
:focus {
  background-color: #4db6ac;
  border-width: thin;
  border-color: #4db6ac;
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(136, 136, 136, 0.4);
  opacity: 0.64;
} */

.unitbtn:disabled {
  background-color: #4db6ac;
  border-color: #4db6ac;
  border-width: thin;
  color: #ffffff;
  opacity: 0.64;
}

.Fbtn {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0px;
}

.moreinfo {
  display: inline;
}

.Cbtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 0px;
}

.fa-map-marker-alt {
  font-size: 20px;
}

.search:hover {
  background-color: rgba(0, 105, 92, 0.8);
  border-color: rgba(0, 105, 92, 1);
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(136, 136, 136, 0.4);
}

.search:focus {
  background-color: rgba(0, 105, 92, 1);
  border-right: 0px;
  border-color: rgba(0, 105, 92, 1);
  color: #ffffff;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(136, 136, 136, 0.4);
  width: auto;
}

.form {
  width: auto;
}
/* Other cities */

/* ul {
  padding: 0px;
  margin: 0;
  text-align: center;
}
li {
  display: inline;
  list-style: normal;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

p {
  margin: 15px 0px 0px 0px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
} */

.searchBox {
  padding: 10px;
  /* background-color: black; */
}

.link {
  font-style: none;
  color: black;
}

.link:hover {
  font-style: none;
  color: black;
  text-decoration: none;
}

.unit {
  text-align: center;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.form-control {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.barra {
  padding: 0px;
}

.searchBar {
  padding: 10px;
}

img {
  width: auto;
}

.imgforecast {
  width: 75px;
}

@media screen and (min-width: 401px) {
  h5 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 40px;
    line-height: 40px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 400px) {
  h5 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 26px;
    line-height: 26px;
  }
}

.modalContainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContainer .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  border-top: 10px solid #58abb7;
  width: 60%;
}

.modalContainer .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
